# Serveur
PORT=3000
NODE_ENV=development

# Base de données PostgreSQL (Neon)
DATABASE_URL="postgresql://utilisateur:motdepasse@votre_hote:port/base?sslmode=require"

# JWT
JWT_SECRET=votre_cle_secrete_tres_longue
JWT_EXPIRES_IN=7d

# CORS (URL du frontend)
FRONTEND_URL=http://localhost:8080